<div class="container" ng-controller="MainCtrl" style="padding-top: 50px">
    <div class="row">
        <div class="col-md-4 col-md-offset-4">
            <div class="login-panel panel panel-default">
                
                <div class="panel-body">                  

                    <a href="" ng-click="addPerson()" class="btn btn-lg btn-success btn-block">הוספת אדם לרשימת רפואה שלמה</a>

                    <a href="" ng-click="toList()" class="btn btn-lg btn-success btn-block">לרשימה המלאה</a>

                </div>

            </div>
        </div>
    </div>
</div>